
body{
    margin: 0px;
    padding: auto;
}
table{
    border-collapse:collapse;
    margin-top: 2rem;
    width: 40rem;
    height: 3rem;
    font-size: 29px;
}
td{
    border:1px solid #111111;
    padding: 0px;
    background-color: #f8fdf7e5;
}
#login {
    position: absolute;
    display: block;
    left: 20rem;
    top: 15rem;
    width: 300rem;
    max-width: 850px;
    min-width: 850px;
    padding: 30px 30px 50px 30px;
    background-color: #ffffff7a;
    align-items: center;
    align-self: center;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15); 
}
a{
    color: rgb(9, 9, 9);
    text-decoration: none;
}
h2{
    font-size: 21px;
}
header {
    display:flex ;
    height: 10rem;
    background: linear-gradient(#004b35, #05a299, #05b27e);
  }
.logo{
    display: flex;
    align-items: center;
  }
.logo img{
    height: 130px;
    margin-right: 10x;
}
.AB {
    position: absolute;
    display: flex;
    top: 18.6%;
    left: 19%;
    gap: 3px;
    font-size: 22px;
    font-weight: 600;
}
nav a{
    font-weight: 600;
    padding-right: 6px;
}
nav a:hover{
    color: rgb(241, 239, 239);
}
@media (max-width:600px){
    header{
        flex-direction: column;
    }
}
.cajabuscar {
    float: none;
    width: 70%;
    max-width: 400px;
    margin-bottom: 10px;
    margin-top: 2.5%;
    margin-left: 6%;
    margin-right: auto;
    display: inline-block;
    text-align: left;
}
#buscarform {
    padding: 0;
    float: right;
    clear: both;
    width: 150%;
    height: 80%;
    left: 10rem;
    right: rem;
    position: relative;
}
#buscarform fieldset { float: left }
#buscarform .search {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;
    background: #61996b;
    position: absolute;
    right:4px ;
    left: 97%;
    top: 7px;
    padding: 9px;
    height: 24px;
    width: 24px;
    text-align: center;
}
#buscarform fieldset { width: 100% }
#s {
    width: 100%;
    background-color: #fff;
    float: left;
    padding: 8px 0;
    text-indent: 10px;
    color: #555555;
    border: 1px solid #fff; 
    box-sizing: border-box;
    height: 42px;
}
.button{
    padding: 8px 0;
    float: left;
    border: solid 3px black;
    width: 30px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
    color: #a4a4a4;
    transition: all 0.25s linear;
    background: transparent;
    z-index: 10;
    position: absolute;
    border: 0;
}.iconos{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    display: flex;
}
.Bnoti {
    position: absolute;
    display: flex;
    top: 5%;
    left: 76%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.pregunta{
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
}
.Bpregun {
    position: absolute;
    display: flex;
    top: 5%;
    left: 80%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.inicio{
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
}
.Bini {
    position: absolute;
    display: flex;
    top: 5%;
    left: 84%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.carritos{
    position: absolute;
    width:3.5rem;
    height: 3.5rem;
    align-items: center;
}
.Bcar {
    position: absolute;
    display: flex;
    top: 5%;
    left: 88.4%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.casa{
    position:absolute;
    width: 4rem;
    height: 3rem;
    align-items: center;
    margin-left: 13%;
    margin-right: 20%;
    margin-top: -2.8%;
}
.tabla {
    border: 3px;
    color: #555555;
}
.img-search {
    position: absolute;
    right:0px;
    left: 6px;
    top: 5px;
    padding: 0px;
    height: 24px;
    width: 24px;
    text-align: center;
}
table{
    border-collapse: collapse;
    margin-left: 25%;
    max-width: 50%;
    max-height: 10%;
}
.motivo{
    margin-left: 27rem;
    margin-top: -2rem;
}
.direcion{
    margin-left: 5rem;
}
.texto{
    margin-left: 29rem;
    margin-top: -2rem;

}
.enviar{
    margin-left: 6rem;
    margin-top:-2rem;
    width: 120px;
    height: 30px;
    cursor: pointer;
}
.texta{
    width: 400px;
    height: 150px;
    margin-left: -7rem;
}