body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: -10%;
}
a{
    text-decoration: none;
    color: rgb(14, 14, 14);
}
head {
    display:flex ;
   height: 10rem;
    background: linear-gradient(#004b35, #05a299, #05b27e);
  }
.logo{
    display: flex;
    align-items: center;
  }
h2{
    margin-top: -9rem;
    font-size: 21px;
}
.logo img{
    width: 12rem;
    margin-left: -0.5rem;
    margin-top: -10rem;
}
.AB {
    position: absolute;
    display: flex;
    top: 19%;
    left: 19%;
    font-size: 22px;
}
nav a{
    font-weight: 600;
    padding-right: 6px;
}
nav a:hover{
    color: white;
}
@media (max-width:600px){
    header{
        flex-direction: column;
    }
nan{
    padding: 10px 0px;
}
}
.cajabuscar {
    float: none;
    width: 70%;
    max-width: 400px;
    margin-bottom: 10px;
    margin-top: -1%;
    margin-right: auto;
    display: inline-block;
    text-align: left;
    margin-left: 10%;
}
#buscarform {
    padding: 0;
    float: right;
    clear: both;
    width: 150%;
    height: 80%;
    left: 33rem;
    margin-top: -8rem;
    position: relative;
}
#buscarform fieldset { float: left }
#buscarform .search {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;
    background: #61996b;
    position: absolute;
    right:4px ;
    left: 95%;
    top: 2px;
    padding: 9px;
    height: 24px;
    width: 24px;
    text-align: center;
}
#buscarform fieldset { width: 100% }
#s {
    width: 100%;
    background-color: #fffefe;
    float: left;
    padding: 8px 0;
    text-indent: 10px;
    color: #555555;
    border: 1px solid #fff; 
    box-sizing: border-box;
    height: 42px;
}
.button{
    padding: 8px 0;
    float: left;
    border: solid 3px black;
    width: 30px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
    color: #a4a4a4;
    transition: all 0.25s linear;
    background: transparent;
    z-index: 10;
    position: absolute;
    border: 0;
}.iconos{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    display: flex;
}
.Bnoti {
    position: absolute;
    display: flex;
    top: 4%;
    left: 76%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.pregunta{
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
}
.Bpregun {
    position: absolute;
    display: flex;
    top: 4%;
    left: 80%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.inicio{
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
}
.Bini {
    position: absolute;
    display: flex;
    top: 4%;
    left: 84%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.carritos{
    position: absolute;
    width:3.5rem;
    height: 3.5rem;
    align-items: center;
}
.Bcar {
    position: absolute;
    display: flex;
    top: 4%;
    left: 88%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.casa{
    position:absolute;
    width: 4rem;
    height: 3rem;
    align-items: center;
    margin-left: 13%;
    margin-right: 20%;
    margin-top: -5%;
}
.tablas {
    border: 3px;
    color: #555555;
    top: 30%;
    left: 5%;
}
.img-search {
    position: absolute;
    right:0px;
    left: 6px;
    top: 5px;
    padding: 0px;
    height: 24px;
    width: 24px;
    text-align: center;
}
.box {
    border: 5px solid rgb(21, 19, 22);
    background-color: rgb(255, 255, 255);
    padding: 36px;
    margin: 15px;
    width: 1400px;
    height: 20px;
    margin-top: 1rem;
    margin-left: 4rem;
  }
  .h3{
    font-size: 36px;
    margin-top: -1%;
  }
  .cuadro {
    background-color: lightgray;
    margin-top: 0.5%;
    width: 340px;
    gap: 50%;
    height:386px ;
    left: 25%;
    position: absolute;
    display: block;
  }
  .perfil {

    width: 14%;
    height: auto;
  }
  .Envio {
    margin-left: 76%;
    display: flex;
    position: absolute;
    top: 32%;
    font-size: 25px;
  }
.mover{
    display: flex;
    position: absolute;
    left: 24%;
    top: 6%;
    font-size: 20px;
    color: black;
}
.mis{
    font-size: 25px;
    margin-left: 7%;
}
.remove{
    width: 80px;
    height: 80px;
    margin-top: -27%;
}
.envio{
    margin-left: 11%;
    margin-top: -2%;
}
.mover1{
    display: flex;
    position: absolute;
    left: 23%;
    top: 20%;
    font-size: 20px;
    color: black;
}
.mover3{
    display: flex;
    position: absolute;
    left: 23%;
    top: 35%;
    font-size: 20px;
    color: black;
}
.mover9{
    display: flex;
    position: absolute;
    left: 23%;
    top: 50%;
    font-size: 20px;
    color: black;
}
.mover7{
    display: flex;
    position: absolute;
    left: 23%;
    top: 62%;
    font-size: 20px;
    color: black;
}
.pedidos{
    width: 15%;
    height: auto;
}
.comope{
    width: 15%;
    height: auto;
}
.sigues{
    width: 20%;
    height: auto;
}
.siguess{
    width: 15%;
    height: auto;
}
.siguesss{
    width: 10%;
    height: auto;
}
.direccion{
    width: 14%;
    height: auto;
}
.cerrarsesion{
    width: 13%;
    height: auto;
}
.bordes{
    border-left: solid black;
    border-right: solid black;
    border-top: solid black;
}
.bordes1{
    border-left: solid black;
    border-right: solid black;
    border-top: solid black;
    border-bottom: solid black;
}
 .xxxx{
    font-size: 40px;
    margin-left: 50% ;
 }
